body {
  font-family: "Courier New", Courier, monospace;
  font-size: .25in;
  margin: 0;
  padding: 0;
  }

#container {
  display: inline-block;
  background-color: #CCC;
  padding: 0;
  margin: 0;
}

span {
  padding: 0;
  margin: 0;
  background-color: #FFBB33;
}