body {
  margin: 0;
  padding: 0;
  background-image: url('typewriter-bg.jpg');
  color: #FFF;
  font-family: Arial;
  line-height: 1.5em;
  }

.container {
  margin-top: 3em;
}

.content {
  max-width: 1000px;
  padding: 10px 0px 30px 0px;
  margin: 0 auto;
}

.hideable {
  display:none;
}

header{
  background-color: black;
}

h1 {
  text-align: center;
  font-family: 'Rozha One', serif;
  font-size: 3em;
  color: #FFF;
}

header p, header ul {
  width: 50em;
  margin: 0 auto;
}

#links {
  text-align: center;
  margin-top: 1em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #0BBBFB;
}

#links li {
  float:left;
  padding: 0 3em;
}



li {
  list-style: none;
}


span#tagline {
  font-size: .5em;
  color: #FF3333;
}

#output {
  font-family: "Courier New", Courier, monospace;
  font-size: 40.3px;
  display: inline-block;
  color: #000;
  padding: 0;
  margin: 0;
  line-height: initial;
}

.output-box {
  background-color: rgba(11,187,251,.95);
}
.output-content {
  width: 100%;
}
.output-content a {
  color: #FFF;
}
  
#char-example {
  font-family: "Courier New", Courier, monospace;
  font-size: 40.3px;
  padding: 0;
  margin: 0;
  background-color: #FFBB33;
  position: relative;
  left: -999px;
}

.metrics-box {
  background-color: rgba(0,0,0,0.5);
}

footer {
  background: black;
  text-align: center;
  margin-bottom: 0;
  font-size: .8em;
}